// HOME PAGE SIZING AND STYLING FOR ALL PORTS
//ALL SCREENS ABOVE 1440PX WIDTH
// @media screen and (max-width:5000px){
main.home{
    margin: 0 auto;
    background-color: $main-bgColor;
    width: 100%;
    height: 60vh;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    //STYLING FOR THE HOME CONTENT CONAINER
    .container{
        margin: 0 auto;
        max-width: $laptop-L;
        width: 100%;
        height: 100%;
        position: relative;
        .content{
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            margin-top: -40px;
            .text{
                width: 90%;
                height: 100%;
                // background-color: yellow;
                margin: 0px 100px;
                text-align: left;
                @keyframes slideIn {
                        0% {
                            transform: translateX(-100%);
                            opacity: 0;
                        }
                
                        100% {
                            transform: translateX(0);
                            opacity: 1;
                        }
                    }
                h1{
                    display: inline-block;
                    max-width: 400px;
                    margin-top: 15vh;
                    color: rgb(0, 0, 135);
                    animation: slideIn 0.5s ease-in;
                    
                    span{
                        color: orange;
                    }
                }
                p{  
                    font-size: 15px;
                }
            }
            .img{
                width: 90%;
                height: 100%;
                background-color: green;
                margin: 0px 30px;
            }
        }
    }
}
// }
//MIN 1440PX SCREENS
@media screen and (min-width:$laptop) {
    main.home {
        height: 90vh;
    }
}
//MIN 1024PX SCREENS
@media screen and (min-width:$Tablet-L) {
    main.home {
        height: 50vh;
    }
}
//MIN 589PX SCREENS
@media screen and (max-width:$Tablet){
    .content{
        flex-direction: column;
        .text{
            h1{
                text-align: center;
                position: absolute;
                top: 0vh;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                font-size: 20px;
            }
            p{
                margin-top: 12vh;
                text-align: center;
            }
        }
    }
}
//MIN OF 450PX SCREENS
@media screen and (max-width:$Mobile-L) {
    main.home {
        height: 92vh;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
    }
}
//MIN OF 320PX SCREENS
@media screen and (min-width:$Mobile-S) {
    main.home {
        height: 85vh;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
    }
}