@media screen and (max-width:5000px){
main.home{
    margin: 0 auto;
    background-color: $main-bgColor;
    width: 100%;
    height: 60vh;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    .container{
        margin: 0 auto;
        max-width: $laptop;
        width: 100%;
        height: 100%;
        padding-top: 40px;
        
        @media screen and (max-width: $Mobile-L) {
            padding-top: 0px;
        }
    }
}
}
@media screen and (min-width:$laptop) {
    main.home {
        height: 70vh;
    }
}
@media screen and (min-width:$Tablet-L) {
    main.home {
        height: 50vh;
    }
}
@media screen and (min-width:$Mobile-L) {
    main.home {
        height: 92vh;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
    }
}
@media screen and (min-width:$Mobile-S) {
    main.home {
        height: 85vh;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
    }
}