//COLORS
$main-bgColor: #fde7ddcf;

//DISPLAY PORTS
$Tv-4k: 2560px;
$laptop-L: 1440px;
$laptop: 1024px;
$Ipad-L: 920px;
$Ipad: 850px;
$Tablet-L: 768px;
$Tablet: 700px;
$Mobile-L: 450px;
$Mobile: 375px;
$Mobile-S: 320px;
